<h2 class="ui dividing header">Clientes</h2>

<div class="overlay fixed" style="position: fixed; top: 80px; left: 20px; z-index: 1;">
  <div class="ui vertical icon menu">
    <a class="item" ng-click="listaClientes.showRegistro()">
      <i class="add user icon"></i>
    </a>
  </div>
</div>

<table class="ui fixed single line celled table">
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Cod. Zona</th>
    <th>Cod. Tipo</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>CI</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cliente in listaClientes.clientes">
      <td>{{ cliente.CodCliente }}</td>
      <td>{{ cliente.CodZona }}</td>
      <td>{{ cliente.CodTipoCliente }}</td>
      <td>{{ cliente.Nombre + ' ' + cliente.ApellidoPaterno + ' ' + cliente.ApellidoMaterno }}</td>
      <td>{{ cliente.Direccion }}</td>
      <td>{{ cliente.Telefono }}</td>
      <td>{{ cliente.Celular }}</td>
      <td>{{ cliente.CI }}</td>
    </tr>
  </tbody>
</table>